
/* Try to override Plone's default link border styles hard for image links */
.imagePortlet .outer-wrapper,
.imagePortlet .outer-wrapper:active,
.imagePortlet .outer-wrapper:visited,
.imagePortlet .outer-wrapper:hover,
#content dl.imagePortlet a.outer-wrapper,
#content dl.imagePortlet a.outer-wrapper:active,
#content dl.imagePortlet a.outer-wrapper:visited,
#content dl.imagePortlet a.outer-wrapper:hover,
#content dl.imagePortlet a.outer-wrapper:link {
    border-bottom: 0 !important;
}

.imagePortlet .outer-wrapper {
    position: relative;
}
/* Text-over-image using relative + absolute positioning trick */
.imagePortlet .text-wrapper {
    background-color: rgba(49, 74, 178, 0.65);
    width: 100%;
    height: 100%;
}

.imagePortlet .text {
    color: #ffffff;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
}
.imagePortlet .default {
    position: absolute;
}
.imagePortlet .hover {
    display: none;
    position: absolute;
    top: 0;
    z-index: 2;
}
.hidden-portlet {
    display: none;
}
